/*  your css code here. If applicable */
body {
    margin: 0;
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: #f0f0f0;
}

#line {
    position: absolute;
    width: 200px;
    height: 2px;
    background-color: #000;
    top: 50%;
    left: 50%;
    transform-origin: center;
}